/* CCTV.css */

  .cctv-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .cctv-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cctv-cards .service-card {
    flex-basis: calc(33.33% - 20px); /* Three cards per row with margin between them */
    margin-bottom: 40px;
    width: calc(50% - 15px); /* 50% width with margin between cards */
    padding: 20px; /* Add padding inside each card */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    background-color: #fff;
    min-height: 605px;
  }
/* CCTV.css */
.cctv-cards .service-card .description {
    text-align: left;
}


.cctv-page .service-card .btn {
    display: none;
  }
    
  