
/* Add this CSS to your styles.css file */


.calculator-section{
  padding: 100px 0;
}

.about-content {
  margin-bottom: 30px;
}

h2{
  font-size: 35px;
  font-weight: 600;
  font-family: "Fira Sans", Sans-serif !important;
}

@media (max-width: 768px) {
  .about-content {
    margin-bottom: 0;
  }
}


/* Add this CSS to your styles.css file WORK */
.nav-link {
  border: none;
  border-radius: 20px; /* Adjust curvature as needed */
  padding: 0.5rem 1rem;
}


  
